$primary-color: #377dff;
$secondary-color: #21325b;
$nav-link-color: #677788;
$bg-light: rgba(
  $color: #377dff,
  $alpha: 0.05,
);
$nav-bar-border-color: rgba(
  $color: #677788,
  $alpha: 0.1,
);
$bg-dark: #2d1582;
$gray: #8c98a4;
$gray-dark: #71869d;
$teal: #00c9a7;

$purple: #6f42c1;
$pink: #e83e8c;
$red: #ed4c78;
$orange: #fd7e14;
$yellow: #f5ca99;
$green: #28a745;
$cyan: #09a5be;
$white: #fff;
$success: #00c9a7;
$info: #09a5be;
$danger: #ed4c78;
$light: #f7faff;
$dark: #21325b;
